<!-- no footer at all! -->
<footer class="bg-img-footer py-3">
  <div class="row px-2 px-lg-3">
        <div class="col">
          <a href="#"><img src="../assets/img/new-foot.png" alt=""></a>
        </div>
        <div class="col small text-center">
          {{ site.data.footer.copyright }}
        </div>
      &nbsp;
      {% for link in site.data.footer.links %}
        <div class="col">
          <a href="{{ link.url }}" {% assign new_window_is_not_empty = link.new_window | is_not_empty %}
          {% if new_window_is_not_empty %}target="_blank" rel="noopener"
          {% endif %}>{{ link.text }}</a>
        </div>
      {% endfor %} 
      <div class="col">
        <a class="tel" href="tel: +7 777 7777777"> <img src="../assets/img/tel-black.png" alt="">+7 777 7777777</a>
      </div>
  </div>
</footer>
