<section class="page-section-masters {{ section.background_style }}" {% if section.background_image %} style="background-image: {{ section.background_image }}"{% endif %} id="{{ section.section_id }}">
    <div class="container-fluid mx-0 ">
        <div class="row justify-content-md-center mx-0">
            <div class="col-md-5 py-1 float-left ">
                <img src="assets/img/studio9.jpg" class="img-fluid" />
            </div>
            <div class="col-md-6 ">
                <div class="col py-5 justify-content-center align-items-center text-center">
                <img src="assets/img/akula-white.png" class="img-fluid" />
                </div>
                {% for point in section.actions %}
                    <p class="p-masters">{{ point.point }}</p>
                    <br />
                {% endfor %}
            </div>
        </div>
        <!-- <div class="row mx-0 g-0 ">
            <img src="assets/img/word.png" class="img-fluid" />
        </div>    -->
    </div>


</section>
