<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                {% for item in site.data.menus.header  %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% endfor %}
                </li>
                <li class="nav-item">
                {% assign versions = site.pages | where: "ref", page.ref | sort: 'lang'%}
                {% if versions.size> 1%}
                    {% for version in versions%}
                        {% if version.lang != page.lang%}
                            <a href="{{ version.url }}" class=" ">{{ site.data.i18n[version.lang].read_it_in] }} {{ site.data.i18n[version.lang].icon }} </a>
                        {% endif%}
                    {% endfor%}
                {% endif%}
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--
{% assign versions = site.pages | where: "ref", page.ref | sort: 'lang'%}
                {% if versions.size> 1%}
                    {% for version in versions%}
                        {% if version.lang != page.lang%}
                            <a href="{{ version.url }}" class="nav-link js-scroll-trigger {{ version.lang }}">{{ site.data.i18n[version.lang].read_it_in] }} {{ site.data.i18n[version.lang].icon }} </a>
                        {% endif%}
                    {% endfor%}
                {% endif%}--->
