<section id="{{ section.section_id }}"  class="scheme {{ section.background_style }} " {% if section.background_image %} style="background-image: {{ section.background_image }}"{% endif %}>
    <div class="container">
        <h2 >{{ section.title }}</h2>
        <div class="scheme-content">
            <div class="scheme-bg"></div>
            <div class="scheme-rows">	
                {% for action in section.actions %}
                <div class="row clear">
                    <div class="col">
                       <p><strong>{% cycle action.title %}</strong>{% cycle action.text %}</p>
                    </div>
                </div>
                {% endfor %}
           </div>
        </div>
    </div>
  </section>